<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAScu-mCbfzGT29FZY_C6lTSOzrA16eyuI</string>
	<key>GCM_SENDER_ID</key>
	<string>271267290033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otpIntegration</string>
	<key>PROJECT_ID</key>
	<string>otpintegration-cdac3</string>
	<key>STORAGE_BUCKET</key>
	<string>otpintegration-cdac3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271267290033:ios:d4dca16694d4deffe77b90</string>
</dict>
</plist>